html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #000;
    color: white;
    display: flex;
    flex-direction: column;
}

.header {
    width: 100%;
    background-color: #222;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
}

.header h1 {
    margin: 0 20px;
    font-size: 24px;
    color: white;
}

.nav {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    white-space: nowrap;
    margin: 0 5px;
}

.main-content {
    display: flex;
    flex-grow: 1;
    width: 100%;
    position: relative;
}

/*
* ===== Sidebar =====
*/

.sidebar {
    width: 300px;
    background-color: #222;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#profile-section {
    margin: 30px 0 50px 0;
    text-align: center;
}

/* profile images*/
.profile-circle {
    width: 150px;
    height: 150px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    color: black;
    font-size: 24px;
    overflow: hidden;
}

#profile-image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;

    transition: transform 0.3s ease, transform-origin 0.3s ease;
    transform-origin: center;
}

#profile-image:hover {
    transform: scale(1.1);
}

.profile-info {
    margin-top: 20px;
    font-size: 20px;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.profile-info p {
    white-space: nowrap;
    margin: 5px 0;
}

.profile-info a {
    color: white;
    text-decoration: none;
    white-space: nowrap;
    margin: 0 5px;
}

.profile-button {
    margin: 0 10px;
    width: 24px;
    height: 24px;

    background: none;
    color: white;
    border: none;
    border-radius: 5px;

    cursor: pointer;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.3s ease;
}

.profile-hover-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.profile-button:hover .profile-hover-icon {
    opacity: 1;
}

.profile-button:hover .profile-icon {
    opacity: 0;
}


.link-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.link-item {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.copy-button {
    margin-left: 20px;
    width: 24px;
    height: 24px;

    background: none;
    color: white;
    border: none;
    border-radius: 5px;

    cursor: pointer;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}

.copy-icon {
    position: absolute;
    top: 15%;
    left: 15%;
    width: 70%;
    height: 70%;
    transition: opacity 0.3s ease;
}

.copy-hover-icon {
    position: absolute;
    top: 12%;
    left: 12%;
    width: 76%;
    height: 76%;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.copy-button:hover .copy-hover-icon { opacity: 1; }
.copy-button:hover .copy-icon { opacity: 0; }

.link-info {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-grow: 1;
}

.link-info a {
    color: white;
    white-space: nowrap;
    margin: 0 5px;
}

.link-icon {
    width: 24px;
    height: 24px;
}

/* Main Content section */

.content {
    position: relative;
    flex-grow: 1;
    padding-left: 40px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    
    z-index: 1;
}

.content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('/image/background/301.jpg') center/cover no-repeat;
    filter: brightness(10%); /* 이미지 어둡게 설정 */
    z-index: -1; /* 배경이 콘텐츠 뒤에 위치하도록 설정 */
}

.content-title {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: none;
}

.buttons {
    display: flex;
    gap: 20px;
    margin-top: 30px;
}

.buttons button {
    padding: 10px 30px;
    font-size: 18px;
    background-color: transparent;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    
    border: none;
    box-shadow: 0px 0px 3px 0px rgba(255, 255, 255, 1);
}

.buttons button:hover {
    background-color: white;
    color: black;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5) inset;
}

.special-thanks {
    margin-top: 50px;
    font-size: 18px;
}

.special-thanks a {
    /* background: white; */
    background-color: #fff;
    color: transparent;
    background-clip: text;

    text-decoration: none;
    font-size: 18px;
    font-style: italic;

    transition: all 0.3s ease;
}

.special-thanks a:hover {
    /* background: linear-gradient(to right top, #861657, #ffa69e); */
    background-color: #85eafa;
    background-clip: text;
}