<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google" content="notranslate">
    <title>Upload File</title>
    <link rel="stylesheet" href="/css/popup/upload.css">
    <script>
        function terminate(event) {
            event.preventDefault();

            const form = event.target;
            const formData = new FormData(form);

            fetch(form.action, {
                method: 'POST',
                body: formData
            })
            .then(response => {
                if (response.ok) {
                    window.opener.location.reload();
                    window.close();
                } else { alert("Error during upload"); }
            })
            .catch(error => {
                console.error("Upload failed", error);
                alert("Upload failed");
            });
        }
    </script>
</head>
<body>
    <h1>Select Files to Upload</h1>
    <form action="/upload/<%= path %>" method="POST" enctype="multipart/form-data" onsubmit="terminate(event)">
        <input type="file" name="files" multiple required> <!-- multiple 속성 추가 -->
        <button type="submit">Upload</button>
    </form>
</body>
</html>